* {
    margin:0;
    color: white;
    font-family: 'Unbounded';
} 
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(/assets/dark-gradient-6bly12umg2d4psr2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: auto;
    height: 100vh;
}
body::selection{
    background-color: transparent;
    color: black;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    gap: 15vh;
    background-color: rgba(240, 248, 255, 0.199);
    height: 10vh;
    top:0;
    z-index: 1000;
    backdrop-filter: blur(15px);
}
nav a {
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav a:hover{
    text-shadow: 0 0 15px aliceblue;
    scale: 1.1;
}
#About, #Qualifications, #Experience, #Skills, #Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: rgba(240, 248, 255, 0.199);
    padding: 7vh;
    border: 0.5vh solid rgba(255, 255, 255, 0.562);
    border-radius: 8vh;
    gap: 10vh;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.about:hover{
    box-shadow: 0 0 15vh rgba(240, 248, 255, 0.281);
    scale: 1.02;
}
.about img{
    width: 35vh;
    border-radius: 100%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.about img:hover{
    scale: 1.1;
    transform: rotate(-360deg);
    box-shadow: 0 0 15vh rgba(240, 248, 255, 0.281);
}
.about h1{
    margin-bottom: 3vh;
    font-size: 6vh;
    padding-bottom: 2vh;
    border-bottom: 0.3vh solid rgba(255, 255, 255, 0.562);
}
hr{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: -1;
    height: 0.5vh;
    border: none;
    border-radius: 1.5vh;
    background-color:  rgba(240, 248, 255, 0.404);;
}
#Qualifications, #Skills{
    gap: 5vh;
}
#Skills table{
    max-width: 40vh;
    height: 50vh;
}
#Educational, #Professional, #Softskills, #Hardskills, #Interests{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46%;
    font-size: 1.8vh;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#Educational h1, #Professional h1, #Softskills h1, #Hardskills h1, #Interests h1{
    scale: 1.02;
}
#Educational h1, #Professional h1, #Softskills h1, #Hardskills h1, #cont h1, #Experience, #Interests h1{
    margin-bottom: 3vh;
    font-size: 4vh;
}
table {
    text-align: center;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-collapse: collapse;
}
#educationaltable, #professionaltable{
    height: 55vh;
}
#professionaltable{
    width: 80vh;
}
table:hover{
    scale: 1.15;
    box-shadow: 0 0 15vh rgba(240, 248, 255, 0.281);
}
td,th,tr {
    font-weight: 400;
    padding: 3vh 3vh;
    background-color: rgba(240, 248, 255, 0.062);
    border: 0.5vh solid rgba(255, 255, 255, 0.562);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
th{
    font-size: 2vh;
}
td {
    font-weight: 300;
    text-align: left;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
td li {
    margin-left: -3vh;
}
th:hover,td:hover {
    background-color: rgba(240, 248, 255, 0.295);
}
#cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}
#cont h1{
    font-size: 6vh;
}
#contform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input, textarea{
    width: 60vh;
    padding: 2vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    background-color: rgba(240, 248, 255, 0.199);
    border: 0.3vh solid rgba(255, 255, 255, 0.562);
    border-collapse: collapse;
    outline: none;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input:hover, textarea:hover{
    background-color: rgba(240, 248, 255, 0.39);
}
::placeholder{
    color:  rgba(255, 255, 255, 0.562);
}
textarea{
    min-height: 10vh;
    max-width: 60vh;
    min-width: 60vh;
}
#contform button {
    width: 18vh;
    font-size: 2vh;
    padding: 2vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    background-color: rgba(240, 248, 255, 0.199);
    border: 0.5vh solid #00fff2;
    border-collapse: collapse;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: 3vh;
    cursor: pointer;
}
#contform button:hover {
    box-shadow: 0 0 15vh rgba(240, 248, 255, 0.281);
    scale: 1.1;
}
@font-face {
    font-family: 'Unbounded';
    src: url(/assets/fonts/Unbounded-VariableFont_wght.ttf);
}
::selection{
    background-color: transparent;
    color: inherit;
}
